html {
    height: 100%;
}

.wrapper {

    width: 70%;
    height: 600px;
    margin: auto;
    box-shadow: 5px 7px 7px 5px grey;
}

.background {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 51, 176);
}


.new-item {
    border-style: solid;
    background-color: #fff;
    height: 90px;
    margin: -50px 100px 50px;
    box-shadow: 5px 5px 10px grey;
    width: 650px;
}

.p {
    margin: 100px;
}

.input {
    width: 400px;
    margin: 0px 10px 0px 10px;
}

.edit {
    margin: auto;
    padding: 5px;
}

.placeholder {
    margin: 20px 20px 20px 100px;
    width: 100%;
}

.undone-list ul li {
    background-color: #fff;
    border-style: solid;
    border-color: gray;
    border-bottom-style: none;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.undone-list ul {

    list-style: none;
    margin-top: 120px;
    margin: 70px 70px 10px 100px;
    width: 650px;
    padding: 20px;
}

.undone-list li {
    margin: auto;
    padding: 10px;
    flex: 1;
}

li .actions {

    width: 40px;
    display: inline-block;

}

.undone-list ul li:last-child {
    border-bottom: solid gray;
}

.todo-item .title {
    display: inline-block;
    width: 90%;
}

.add-button {
    background-color: rgb(255, 51, 176);
    color: white;
}



.save-button {
    color: rgb(255, 51, 176);
    border-color: rgb(255, 51, 176);
    background-color: white;
}